{% load blog_tags %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}base.html{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock content %}
</div>
<div id="sidebar">
    <h2>Django Blog by jh</h2>
    <p>
        {% total_posts %}개의 글이 기록되어 있어요
    </p>
    <h3>최근에 올라온 글</h3>
    {% show_latest_posts 3 %}
</div>
</body>
</html>