{% extends 'blog/base.html' %}
{% block title %}My Blog{% endblock title %}
{% block content %}
    <h1>My Blog</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    <!--장고의 ListView 제네릭뷰는 요청된 페이지를 page_obj란 변수로 전달함 -->
    {% include "pagination.html" with page=post_obj %}
{% endblock content %}